<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Open Aid Data: {% block title %}{% endblock %}
	</title>
	<meta name="description" content="" />
 <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Le styles -->
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/normalize.css') }}">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/foundation.min.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/custom.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/chosen.min.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/font-awesome.min.css') }}">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

	<script type="text/javascript" src="https://www.google.com/jsapi"></script>

</head>
<body class="{{ active_page }}" data-spy="scroll">
	{% set navigation_bar = [
		('/', 'start', 'Start'),
	    ('/recipient_countries/', 'recipient_countries', 'Recipient Countries'),
	    ('/sectors/all', 'sectors', 'Sectors'),
      ('/donors/', 'donors', 'Donors'),
	    ('/trends/', 'trends', 'Trends'),
			] -%}
			{% set active_page = active_page|default('start') -%}
			<div class="contain-to-grid">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
          </li>
          <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
        </ul>

        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
            <li class="hide-for-medium-only"><a href="http://twitter.com/open_aid_data" target="_blank"><i class="fa fa-twitter"></i>Twitter</a></li>
           <li><a href="/about">About</a></li>
           <li><a href="/feedback">Feedback</a></li>
           <li><a href="http://blog.openaiddata.org" target="_blank">Blog</a></li>
          </ul>
            <!-- Left Nav Section -->
              <ul class="left">
                {% for href, id, caption in navigation_bar %}
                 <li{% if id == active_page %} class="active"{% endif %}><a href="{{ href|e }}">{{ caption|e }}</a></li>
               {% endfor %}
              </ul>
            </section>
          </nav>
        </div>

<div id="header">
  <div class="row">
    <div class="large-6 medium-5 columns">
      <div id="site-title"><span class="fa fa-bar-chart-o"></span><a href="/">Open Aid Data</a></div>
    </div>
    <div class="large-6 medium-7 columns">
      <div id="slogan">Aid data from big to small. Past, present, and future.</div>
      </div>
  </div>
</div>
<div class="row frame">
  <div class="large-12 columns">
		<div class="row">
			<div class="large-6 columns">
			</div>
		</div>
		<div class="row">
				{% block body %}{% endblock %}
		</div>
	</div>	<!-- /container -->
  <div class="container">
  <div class="row" id="footer">
    <div class="large-11 columns">
     <p>
       Openaiddata.org is a project by <a href="http://twitter.com/ckreutz">@ckreutz</a>.
        Data: <a href="http://stats.oecd.org" target="_blank">OECD</a>, <a href="http://iatistandard.org/" target="_blank">IATI</a>, <a href="http://data.worldbank.org/" target="_blank">World Bank</a> & <a href="http://www.gfintegrity.org/" target="_blank">GFI</a> |
        <a href="/about#data">Disclaimer</a>
        | Last updated: {{ g.rendered }}
     </p>
   </div>
   <div class="large-1 columns">
    <p class="right">
      <a href="http://www.iubenda.com/privacy-policy/776132" class="iubenda-white iubenda-embed" title="Privacy Policy">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "http://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
   </div>
</div>
</div>
</div>

<script type=text/javascript src="{{
  url_for('static', filename='js/modernizr.js') }}"></script>
<script type=text/javascript src="{{
      url_for('static', filename='js/smartresize.js') }}"></script>
<script type=text/javascript src="{{
    url_for('static', filename='js/chosen.jquery.min.js') }}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-sparklines/2.1.2/jquery.sparkline.js"></script>
<script type=text/javascript src="{{
      url_for('static', filename='js/foundation.min.js') }}"></script>
<script type=text/javascript src="{{
      url_for('static', filename='js/foundation.topbar.js') }}"></script>
<script type="text/javascript">
  $(document).foundation();
	</script>
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NTWX8V"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NTWX8V');</script>
</body>
</html>
