<script type="text/javascript">
	google.load("visualization", "1", {packages:["corechart"]});
	google.setOnLoadCallback(drawChart);
	function drawChart() {
		var data = new google.visualization.DataTable();
data.addColumn('string', 'Year');
		data.addColumn('number', 'Grants USD');
		data.addColumn('number', 'Loans USD');
		data.addRows([
			{% for entry in flows %}
			['{{ entry['Year'] }}',{{ entry['gg'] }}, {{ entry['ll'] }}]{% if loop.last == False %},{% endif %}
			{% endfor %}
				]);
		var options = {
	height: 340,
	colors:['#bb5d02','#07833b'],
		tooltip: {textStyle: {color: '#232323', fontSize: 16}, showColorCode: true},
		chartArea: {left:60, width: 380},
		lineWidth: 5,
		pointSize: 8,
		legend: {position: 'bottom', textStyle: {fontSize: 12}}
		};
	var chart = new google.visualization.AreaChart(document.getElementById('flows'));
var formatter = new google.visualization.NumberFormat({groupingSymbol: '.', fractionDigits: 0});
	formatter.format(data, 1);
	formatter.format(data, 2);
	chart.draw(data, options);
	$(window).smartresize(function () {
	chart.draw(data, options);
	});
	}
</script>
<script type="text/javascript">
	google.load("visualization", "1", {packages:["corechart"]});
	google.setOnLoadCallback(drawChart);
	function drawChart() {
		var dataB = new google.visualization.DataTable();
dataB.addColumn('string', 'Year');
				dataB.addColumn('number', 'Projects');
				dataB.addRows([
							{% for entry in activities %}
							['{{ entry['Year'] }}',{{ entry['total_activities'] }}]{% if loop.last == False %},{% endif %}
							{% endfor %}
								]);
		var optionsB = {
		height: 340,
		colors:['#bb5d02','#07833b'],
		tooltip: {textStyle: {color: '#232323', fontSize: 16}, showColorCode: true},
		chartArea: {top: 65, left:40, width: 380},
		lineWidth: 5,
		pointSize: 8,
		legend: {position: 'bottom', textStyle: {fontSize: 12}}
				};
	var chartB = new google.visualization.BarChart(document.getElementById('projects'));
	chartB.draw(dataB, optionsB);
	$(window).smartresize(function () {
	chartB.draw(dataB, optionsB);
	});
	}
</script>